h1, p, button  {
    font-family: 'Montserrat', sans-serif;
}

#container {
    position: absolute;
    top: 7%;
    left: 6%;
    width: 88%;
    height: 92%;
}

#titleBar {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 5%;
    background-color:darkorange;
    margin-top: 0%;
    text-align: center;
}

#titleBar > h1 {
    position: relative;
    font-size:2vh;
    /* margin: auto; */
}

.dancebot {
    position: absolute;
    width:40%;
    height: 14%;
    top: 3%;
}

.robotHead {
    width:100%;
    height:80%;
    display: block;
    margin: auto;
}

.robotHead > img {
    display:block;
    width: auto;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.flavorText {
    text-align: center;
}
.flavorText > button {
    font-size: 1.5vh;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: orange;
    border-radius: 8px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-weight: bold;
}

.flavorText > button:hover {
    background-color: darkorange;
    border: 2px solid black;
    color:white;

}

#dancebot2 {
    left: 60%;
}

#dancebot3 {
    top: 21%;
}

#dancebot4 {
    top: 21%;
    left: 60%;
}

#mothership {
    position: absolute;
    top: 46%;
    height: 33%;
    width: 100%;
}

.swarmCommands {
    position: absolute;
    top: 81%;
    height: 10%;
    width: 100%;
}

.swarmCommands > button {
    font-size: 1.5vh;
    background-color: orange;
    border-radius: 8px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-weight: bold;
}

.swarmCommands > button:hover {
    background-color: darkorange;
    border: 2px solid black;
    color:white;
}

#stopAll {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 49%;
}

#resetAll {
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 49%;
}

#walkAll {
    position: absolute;
    top: 60%;
    left: 0;
    width: 40%;
    height: 49%;
}

#hopAll {
    position: absolute;
    top: 60%;
    left: 60%;
    width: 40%;
    height: 49%;
}
